<header>
  <div class="logo h-card">
    <a class="u-url" href="{{ "/" | relLangURL }}">
      <picture>
        <source srcset="{{ $.Site.Params.logoDark | default "/images/logo-ee-dark.png" }}" media="(prefers-color-scheme: dark)">
        <img alt="Site Logo" class="site-logo u-photo" src="{{ $.Site.Params.logo | default "/images/logo-ee.png" }}"/>
      </picture>
    </a>
  </div>
  <nav class="menu">
    <ul>
      {{- range .Site.Menus.main }}
        {{- if .HasChildren }}
          <li class="dropdown">
            <a href="{{ .URL |relLangURL}}">{{ .Name }} &#9662;</a>
            <ul class="submenu">
              {{- range .Children }}
                {{- if .HasChildren }}
                  <li class="dropdown">
                    <a href="{{ .URL |relLangURL}}">{{ .Name }} &#9662;</a>
                    <ul class="submenu">
                      {{- range .Children }}
                        <li>
                          <a href="{{ .URL |relLangURL}}">{{ .Name }}</a>
                        </li>
                      {{- end }}
                    </ul>
                  </li>
                {{- else }}
                  <li>
                    <a href="{{ .URL |relLangURL}}">{{ .Name }}</a>
                  </li>
                {{- end }}
              {{- end }}
            </ul>
          </li>
        {{- else }}
          <li>
            <a href="{{ .URL |relLangURL}}">{{ .Name }}</a>
          </li>
        {{- end }}
      {{- end }}

      <!-- 🌐 Language Dropdown -->
      <li class="lang-dropdown">
        <a href="#" class="lang-toggle">
            {{ if eq .Site.Language.Lang "en" }}EN
  {{ else if eq .Site.Language.Lang "de" }}DE
  {{ else if eq .Site.Language.Lang "pl" }}PL
  {{ else if eq .Site.Language.Lang "es" }}ES
  {{ else }}{{ .Site.Language.Lang | upper }}
  {{ end }} &#9662;
        </a>
        <ul class="lang-submenu">
          {{- range .Site.Languages }}
            {{- if ne .Lang $.Site.Language.Lang }}
              <li>
                <a href="{{ urls.JoinPath "/" .Lang }}">
                    {{ if eq .Lang "en" }}EN
        {{ else if eq .Lang "de" }}DE
        {{ else if eq .Lang "pl" }}PL
        {{ else if eq .Lang "es" }}ES
        {{ else }}{{ .Lang | upper }}
        {{ end }}
                </a>
              </li>
            {{- end }}
          {{- end }}
        </ul>
      </li>
    </ul>
  </nav>
</header>
