<!-- Eine Plattform für Denkmalpflege und Bauen im Bestand. Entdecke einzigartige 
Restaurierungsprojekte. Erfahre mehr über neue Produkte, Technologien und 
Innovationen am Markt. Und vor allem: <strong>erlebe das baukulturelle Erbe.</strong> 

Teile dein Denkmalprojekt, Produkt oder deine Expertise und werde Teil der Plattform Erlebe Erbe.

<a href="/de/6-mitmachen/">
  <button type="button">Jetzt Projekt einreichen</button>
</a>
-->
<div class="contact-content">
<p style="font-size: 60px; font-weight: bold;">Architektur mit Geschichte. <br>
  Lösungen mit Zukunft.</p>

  <h2>Eine kuratierte Plattform für Denkmalpflege. <br>

Wir machen sichtbar, was möglich ist - durch reale Projekte und die Fachleute sowie Produkte dahinter. <br><br></h2>

<!--Planen Sie eine Sanierung? <br>
Entdecken Sie passende Fachleute und Lösungen.-->

  <br>

  <div class="contact-content">
<p style="font-size: 16px; font-weight: none;">Neu auf Erlebe Erbe:</p>