<span class="partners">
    <br>
    <br>
    <br>
Das Projekt ist gefördert von:
<div style="display: flex; gap: 15px; align-items: center;">
<a href="https://www.tha.de/tha-funkenwerk/Aga-Bebynek-Bielanska.html" target="_blank">
  <img src="/images/fwpink.png" alt="Funkenwerk" style="max-height: 75px; display: block;">
</a>
<a> <img src="/images/thapink.png" alt="THA" style="max-height: 85px; display: block;"> </a>
<a> <img src="/images/eit.png" alt="EIT" style="max-height: 85px; display: block;"> </a>
</div>
</span>
<br>

<span class="partners">
<div style="display: flex; gap: 50px; align-items: center;">
<a> <img src="/images/logos/exist1.jpeg" alt="Exist" style="max-height: 140px; display: block;"> </a>
<a> <img src="/images/logos/exist2.jpeg" alt="Exist" style="max-height: 140px; display: block;"> </a>
<a> <img src="/images/logos/exist3.jpeg" alt="Exist" style="max-height: 140px; display: block;"> </a>
</div>

</span>