 
 <br>
  <br>

 <p>Das Projekt ist gefördert von:</p>
<div class="partners-section">

  <!-- First row: centered -->
  <div class="partners-row partners-row-center">
    <a href="https://www.tha.de/tha-funkenwerk/Aga-Bebynek-Bielanska.html" target="_blank">
      <img src="/images/fwpink.png" alt="Funkenwerk">
    </a>
    <a>
      <img src="/images/thapink.png" alt="THA">
    </a>
    <a>
      <img src="/images/eit.png" alt="EIT">
    </a>
  </div>

  <!-- Second row: left-aligned -->
  <div class="partners-row partners-row-left">
    <a>
      <img src="/images/logos/exist1.jpeg" alt="Exist">
    </a>
    <a>
      <img src="/images/logos/exist2.jpeg" alt="Exist">
    </a>
    <a>
      <img src="/images/logos/exist3.jpeg" alt="Exist">
    </a>
  </div>
</div>
