 
 <br>
  <br>

 <p>Das Projekt ist gefördert von:</p>
<div class="partners-section">
  <div class="partners-row partners-row-single">
    <a href="https://www.tha.de/tha-funkenwerk/Aga-Bebynek-Bielanska.html" target="_blank">
      <img src="/images/logos/1_fwpink.png" alt="Funkenwerk">
    </a>
    <a>
      <img src="/images/logos/2_thapink.png" alt="THA">
    </a>
    <a>
      <img src="/images/logos/3_EXIST-Logos.png" alt="Exist">
    </a>
    <a>
      <img src="/images/logos/4_eit.png" alt="EIT">
    </a>
  </div>
</div>
