{{/* Get section and limit parameters, with defaults */}}
{{ $section := .Get "section" | default "1-projekte" }}
{{ $limit := .Get "limit" | default 2 }}
{{ $pages := .Site.RegularPages }}

{{ if in $section "/" }}
  {{ $dir := printf "%s/" $section }}
  {{ $pages = where $pages "File.Dir" $dir }}
{{ else }}
  {{ $pages = where $pages "Section" $section }}
{{ end }}

<div class="cards">
  {{ range first $limit $pages }}
    {{ $page := . }}
    <div class="card h-entry">
      <a href="{{ $page.Permalink }}" class="u-url">
        {{ with $page.Params.image }}
          <img src="{{ . }}" alt= "{{ $page.Title }}" class="u-photo">
        {{ else }}
          {{ partial "randImage" $page }}
        {{ end }}
        <div class="text">
          <h2 class="p-name">{{ $page.Title }}</h2>
          <p class="small e-content">{{ $page.Summary | plainify | truncate 100 }}</p>
        </div>
      </a>
    </div>
  {{ end }}
</div>
